.botao__navegacao {
    display: none;
}

@media (max-width: 600px) {
   
  
    .botao__navegacao {
        background: none;
        border: none;
        color: var(--branco);
        cursor: pointer;
        display: flex;
        font-size: 1rem;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
    }
    #hamburger {
        border-top: 2px solid var(--branco);
        width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
        background: var(--branco);
        content: '';
        display: block;
        height: 2px;
        margin-top: 5px;
        position: relative;
        transition: 0.3s;
        width: 20px;
    }
   
}