.secundario__botao{
    background: var(--botao);
    border-style: none;
    border-radius: 5px;
    color: var(--branco);
    padding: 8px 12px;
}

.secundario__botao:hover{
    background: var(--roxo);
}