.principal__formulario-formulario___email{
    border-radius: 5px 0 0 5px;
    border: none;
    border-style: none;
    padding: 12px 18px;
    width: 26rem;
}
@media screen and (max-width: 320px) {
    .principal__formulario-formulario___email{
        width: 100%;
    }
}