.principal__titulo-titulo{ 
    font-weight: 100;
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: .5rem;
}

@media screen and (max-width: 768px) {
    .principal__titulo-titulo{
        font-size: 3rem;
    }
    
}

@media screen and (max-width: 600px) {
    .principal__titulo-titulo{
        font-size: 2.5rem;
    }
    
}